.presentation {
    padding: 80px 0;
    background-image: linear-gradient(rgb(0, 183, 255), rgb(0, 68, 255));

    &__container {
        max-width: 90%;
        margin: 0 auto;
    }

    &__details {
        text-align: center;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    &__title {
        color: #fff;
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: bold;
    }

    &__text {
        color: #fff;
        line-height: 22px;
        text-align: justify;
    }

    &__logo {
        max-width: 100%;
        border-radius: 5px;
    }

    @media (min-width: 1024px) {
        &__container {
            display: flex;
            gap: 40px;
        }

        &__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            font-size: 20px;
        }

        &__logo {
            max-width: 50%;
        }
    }
}